main{
  min-height: 80vh;
}
.navlist-header{
  margin-left: auto;
}

.rating span{
  margin: 0.1rem;
  padding: 1rem 0;

}
.product-image{
  height: 200px;
  padding: 10px;
}
h3{
  padding: 1.5rem 0;
}
h1{
  font-size: 1.8rem;
  padding:1rem 0;
}
h2{
  font-size: 1.2rem;
  padding:0.5rem 0;
}
.checkout-btn{
  display:grid;
}
.payment-btn{
  margin-top: 10px;
}
.preview-image{
  width:70px; 
}
.box{
  width: full;
  height: 400px;
  background-color: rgb(42, 35, 35);

}
.crousel{
  background-color: rgb(23, 20, 20);
}
.crousel-image{
  height: 400px;
  width: 1300px;
  object-fit: cover;

}
.crousel-empty-div{
  height: 100px;
  background: linear-gradient(to top,rgb(13, 13, 13),rgb(228, 221, 221));
}
@media (max-width:767px){
  .crousel-text{
    font-size: 10px;
  }
}

