
main{
  min-height: 90vh;
}
.navlist-header{
  margin-left: auto;
}

.rating span{
  margin: 0.1rem;
  padding: 1rem 0;

}
.product-image{
  height: 200px;
  padding: 10px;
  background: linear-gradient(to top,rgb(13, 13, 13),rgb(228, 221, 221));

}
.card-body{
 background-color: #2a2020;
 color: white;
  
}
.card-title{
  color: white;
}
.latest-product-title{
  color: white;
  text-align: center;
  margin-top: 2rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{
  padding: 1.5rem 0;
}
h1{
  font-size: 1.8rem;
  padding:1rem 0;
}
h2{
  font-size: 1.2rem;
  padding:0.5rem 0;
}
.checkout-btn{
  display:grid;
}

.preview-image{
  width:100px; 
  height: 100px;
  padding-bottom: 20px;
  margin-left: 6px;
  object-fit:contain;

}
.box{
  width: full;
  height: 400px;
  background-color: rgb(42, 35, 35);

}
.carousel{
  background-color:white;
}
.carousel-image{
  height: 400px;
  width: 1300px;
  object-fit:contain;

}
.carousel-empty-div{
  height: 100px;
  background: linear-gradient(to top,rgb(13, 13, 13),rgb(228, 221, 221));
}
@media (max-width:1197px){
  .carousel-text{
    font-size: 18px;
  }
}
@media (max-width:519px){
   .carousel-image{
    height: 300px;
   }
   .carousel-text{
    font-size: 15px;
   }
}
@media (max-width:451px){
  .carousel-image{
   height: 230px;
  }
  .carousel-text{
   font-size: 10px;
  }
  .carousel-empty-div{
    height: 100px;
  }
}
@media(max-width:375px){
  .carousel-image{
    height: 200px;
  }
  .carousel-empty-div{
    height: 100px;
  }
  .carousel-text{
    font-size: 10px;
  }
  
}
.product-edit-screen{
  background-color: rgb(100, 87, 87);
  color: white;
  height:70rem;
  margin-top: -25px;
}
.edit-product-name,.edit-product-price,.edit-product-brand,.edit-product-category,.edit-product-image,.edit-product-description,.edit-product-stock,.edit-product-btn{
  padding-bottom: 20px;
}
.edit-product-title{
  color: white;
  text-align: center;
}
.edit-control-name{
  border-radius: 20px;

}
.login-form{
  background-color:rgb(117, 114, 141);
  box-shadow: 2px 2px 5px #290202;
  margin-top: -1.5rem;
  height: 40rem;
  color: white;
  }
  .login-title{
    color: white;
    text-align: center;
    margin-top: 5rem;
  }
  .login-register{
    color: white;
  }
  

  .register-form{
    background-color:rgb(117, 114, 141);
    box-shadow: 2px 2px 5px #290202;
    margin-top: -1.5rem;
    height: 50rem;
    color: white;
  }
  .register-title{
    color: white;
    text-align: center;
    margin-top: 5rem;
  }
  .register{
    color: white;
  }
  .search-box{
    display: flex;
    align-items: center;

  }

  .search-box {
    display: flex;
    align-items: center;
    margin:7px 0;
  }
  
  .search-box-input[type="text"] {
    flex: 1;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .search-box-button[type="submit"] {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-box-button[type="submit"]:hover {
    background-color: #c82333;
  }

  /* HEADER SCREEN */
 .custom-header{
  background-color: rgb(2, 14, 29);
 }
 .header-cart-icon {
 
  position: relative;
}

.header-cart-no {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  margin-left: 5px;
}
@media (max-width: 763px) {

  .header-cart-no {
    position: absolute;
    top: 0;
    left: -1rem;
    transform: translate(100%, -50%);
  }
}





  .header-logo{
    width: 35px;
    height: 35px;
  }
  .header-title{
   font-family:mosk;
  }
  .header-title-logo{
    display: inline-flex;
    gap: 9px;
  }
  
  

  /* SHIPPING SCREEN */

.shipping-container{
  background-color: rgb(42, 35, 35);
  height: 50rem;
  color: white;
}

.shipping-address,.shipping-country,.shipping-state,.shipping-city,.shipping-pin{
  padding-bottom: 20px;
}
.shipping-div{
  display: flex;
  justify-content: center;
}
.shipping-btn{
 background-color: #c82333;
 padding:12px 8rem;
 border-radius: 20px;
}
.shipping-title{
  text-align: center;
  color: rgb(242, 245, 245);
  font-family: 'Courier New', Courier, monospace;
}
.shipping-step{
  background-color: #bdadad;
  margin-top: 30px;
}
.main{
  background-color: #1311117d;
}


/* PRODUCT SCREEN MAIN */





/* PRODUCT LIST */
.product-list-head{
  color:white;
  font-family: 'Courier New', Courier, monospace;
  background-color: #c82333;
}
.product-list{
  height:60vh;
  padding-top: 2rem;
}
.product-list-row{
  color:white;
  background-color: rgb(33, 29, 29);
  
}
.product-list-title{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  background: linear-gradient(to right,rgb(13, 13, 13),rgb(228, 221, 221));
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;

}

/* ALL ORDERLIST SCREEN */

.orderlist-title{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: linear-gradient(to right,rgb(13, 13, 13),rgb(228, 221, 221));
  height: 50px;
  font-size: 22px;
  display: flex;
  align-items: center;
  padding-left: 10px;

}
.orderlist-head{
  color:white;
  font-family: 'Courier New', Courier, monospace;
  background-color: #c82333;
}
.orderlist-row{
  color: white;
  background-color: rgb(33, 29, 29);

}

/* ORDER SCREEN */
.orderscreen-list-group{
 background-color: #1311117d;
 color: white;
}
.orderscreen-email{
  color: white;
}
.orderscreen-product-name{
  color: white;
}
.orderscreen-pay-button{
 background-color: #1311117d;
  display:grid;
}
.orderscreen-btn{
  border-radius: 20px;
  background-color: #c82333;
}
.orderscreen-card-summary{
  box-shadow: 10px 5px 5px;
}

/* PRODUCT SCREEN  */

.productscreen-details,.productscreen-summary{
 background-color: #1311117d;
  color: white;
}
.productscreen-summary-btn{
  display: grid;
  background-color: #1311117d;
  text-decoration: none;
}
.productscreen-cart-btn,.product-screen-review-btn{
  background-color: #c82333;
  border-radius: 20px;
  text-decoration: none;
}

.productscreen-image-array{
  width: 70px;
  height: 60px;
  padding-bottom: 10px;
}


.productscreen-review-title{
  background-color: #c82333 ;
  color: white;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/* CART SCREEN  */
.cartscreen-price{
  color: white;
}
.cartscreen-main{
  background-color: #1311117d;
  margin-top: 5px;
}
.cartscreen-name{
  color: white;
}
.cartscreen-title{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  padding-top: 2rem;
  font-size: larger;
}
.cartscreen-summary-subtotal{
  background-color: #1311117d;
  color: white;
  font-family: 'Courier New', Courier, monospace;

}
.cartscreen-btn-div{
  background-color: #1311117d;
}
.cartscreen-btn{
  background-color: #b50920;
  border-radius: 20px;
}
.cartscreen-summary-card{
  border:1px solid black;
  box-shadow: 10px 15px;
}
.cart-image{
  width: 100px;
  height: 70px;
}


/* USERLIST SCREEN */

.userlist-title{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
  font-size:22px;
  background: linear-gradient(to right,rgb(13, 13, 13),rgb(228, 221, 221));
  height: 50px;
  align-items: center;
  padding-left: 10px;
}
.userlist-head{
  color:white;
  font-family: 'Courier New', Courier, monospace;
  background-color: #c82333;
}
.userlist-row{
  color: white;
  background-color: rgb(33, 29, 29);
  
}


/* PAYMENT METHOD SCREEN */

.paymentscreen-title{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  

}
.paymentscreen-radio{
  color: white;
  font-family: 'Courier New', Courier, monospace;

}
.paymentscreen-btn-div{
  display: grid;
}
.paymentscreen-btn{
  border-radius: 20px;
  background-color: #c82333;
  margin-top: 10px;
}
.paymentscreen-main{
  padding-top: 4rem;
}


/* PLACEORDER SCREEN */

.placeorderscreen-main{
  padding-top: 3rem;
}

.placeorderscreen-shipping{
  background-color: #1311117d;
  color: white;
}
.placeorderscreen-shipping-title{
  font-family: 'Courier New', Courier, monospace;
}
.placeorderscreen-payment{
  background-color: #1311117d;
  color: white;

}
.placeorderscreen-payment-title{
  font-family: 'Courier New', Courier, monospace;
}
.placeorderscreen-order{
  background-color: #1311117d;
  color: white;

}
.placeorderscreen-order-title{
  font-family: 'Courier New', Courier, monospace;
}
.placeorderscreen-items{
  background-color: #1311117d;
  color: white;

}
.placeorderscreen-name{
  color: white;

}

.placeorderscreen-summary{
  background-color: #1311117d;
  color:white;
}
.placeorderscreen-summary-title{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.placeorderscreen-btn-div{
  background-color: #1311117d;
  display: grid;
}
.placeorderscreen-btn{
 border-radius: 20px;
 background-color: #b50920;
}
.placeorderscreen-card{
  box-shadow: 15px 15px;
}
.placeorderscreen-coupon-main{
  display:flex;
}
.placeorderscreen-coupon-btn{
  background-color: #b50920;
}
.placeorderscreen-coupon-btn:hover{
  background-color: #e42b44;
}
.placeorderscreen-coupon{
  background-color: #2a2020;
}



/* PROFILE SCREEN  */

.profilescreen-container{
  padding: 10px;
  color: white;
}
.profilescreen-user-title{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 2rem;
}
.profilescreen-name{
  padding-bottom: 20px;
}
.profilescreen-email{
  padding-bottom: 20px;
}
.profilescreen-order-title{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 2rem;
  text-align: center;
}
.profilescreen-order-head{
  color:white;
  font-family: 'Courier New', Courier, monospace;
}
.profilescreen-order-row{
  background-color: white;
}

/* USER EDIT SCREEN */

.user-edit-screen{
  padding-top: 20px;
}


.user-edit-title{
  text-align: center;
  padding-top: 100px;
}

/* COUPON SCREEN */

.coupon-validate{
  color: red;
}

.couponscreen-table-head{
  background-color: #c82333;
  color: white;
}
.couponscreen-table-main{
  background-color: white;
  color: black;
}
.couponscreen-title{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  display: flex;
  margin-top: 30px;
  background: linear-gradient(to right,rgb(13, 13, 13),rgb(228, 221, 221));
  height: 50px;
  align-items: center;
  padding-left: 10px;
}


/* ADD COUPON SCREEN  */

.couponcreate-main{
  background-color: rgb(100, 87, 87);
  height: 80vh;
  color: white;
}

.couponcreate-title{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  background-color:#221d1e;

}
.couponcreate-btn-div{
  margin-top: 20px;
  display: grid;
}

.couponcreate-btn{
  background-color:#b50920;
  color: white;
  border-radius: 10px;
}
.couponcreate-btn:hover{
  background-color:#c82333;
 
}

/* ADMIN DASHBOARD SCREEN */
.dashboard-screen{
  display: flex;
  background-color:rgb(236, 230, 230);
  min-height: 90vh;
}

.dashboard-widget{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  gap: 20px;
  height: fit-content;

}
.sidebar-menu{
 width: 60px;
 height: 20px;
 font-size: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 20px;
 
}
.sidebar-col{
  height:auto;
}
.dashboard-progress{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  gap: 20px;
}


/* ADMIN SIDEBAR */


.sidebar-center ul{
  list-style: none;
  row-gap: 10px;

}
.sidebar-center-p{
  padding-top: 20px;
  padding-bottom: 2px;
  font-size: 14px;
  font-weight: 700;
  color:gray;
  font-family: Arial, Helvetica, sans-serif;
}
.sidebar-center li{
  margin-bottom: 10px;
  color:rgb(250, 244, 250);
  cursor: pointer;
}
.sidebar-center li:hover{
  background-color:rgba(81, 80, 81, 0.277);
}
.sidebar-center span{
  padding-left: 5px;
  color: purple;
}
.sidebar-icon{
  color: purple;
}
.sidebar-large{
  height:50vh;
  background-color:white;
  border-right: 1px solid rgb(222, 216, 227);
  -webkit-box-shadow: 7px 6px 8px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 6px 8px -3px rgba(0,0,0,0.75);
  box-shadow: 7px 6px 8px -3px rgba(0,0,0,0.75);
}
.sidebar{
  height:50vh;
  background-color:white;
  border-right: 1px solid rgb(222, 216, 227);
  -webkit-box-shadow: 7px 6px 8px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 6px 8px -3px rgba(0,0,0,0.75);
  box-shadow: 7px 6px 8px -3px rgba(0,0,0,0.75);
}

/* WIDGET CARD SCREEN */
.widget-card{
  width: 250px;
  height: 150px;
  -webkit-box-shadow: 7px 6px 8px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 6px 8px -3px rgba(0,0,0,0.75);
box-shadow: 7px 6px 8px -3px rgba(0,0,0,0.75);
border-radius: 5px;
  
}
.widget-body{
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: gray;
}
.left-widget{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.widget-list{
  text-decoration: none;
}
.widget-amount{
  font-size: 24px;
}
.widget-icon{
  border-radius: 4px;
}
.right-widget{
  display: flex;
  align-self: last baseline;
}

/* PROGRESS COMPONENT */
.progress-main{
  width: 330px;
  height: 400px;
  -webkit-box-shadow: 10px 11px 20px -9px rgba(0,0,0,1);
  -moz-box-shadow: 10px 11px 20px -9px rgba(0,0,0,1);
  box-shadow: 10px 11px 20px -9px rgba(0,0,0,1);
border-radius: 5px;
background-color: white;
}
.progress-title{
  display: flex;
  justify-content: center;
 
}
.progress-h3{
  font-size: 24px;
  font-weight:700;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: gray;
}
.progress-center{
  display: flex;
  justify-content: center;
}
.progress-chart{
  width: 140px;
 
}
.progress-bottom{
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.progress-footer{
display: flex;
justify-content:space-evenly;
padding-left:10px;
}
.progress-no{
  display: flex;
  justify-content: space-around;
}
.progress-footer-icon{
  display: flex;
  justify-content: space-around;
}


/* CHART SCREEN  */
.chart-title{
  color: gray;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.chart-main{
  padding-bottom: 130px;
}

.transaction-title{
  display: flex;
  justify-content: center;
  color: gray;
  font-size: 22px;
  margin-bottom: 25px;
}
.transaction-main{
  padding-bottom: 30px;
}